/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0E0B12 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #91bab4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #91bab4; background-color: rgba(254,7,93,0.4)}
.cm-s-nqqwal { background-color: #0E0B12; color: #91bab4; }
.cm-s-nqqwal span.cm-builtin { color: #7a0079; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #65827d; }
.cm-s-nqqwal span.cm-keyword { color: #007972; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #a80032; }
.cm-s-nqqwal span.cm-def { color: #c30045; }
.cm-s-nqqwal span.cm-variable { color: #fe075d; }
.cm-s-nqqwal span.cm-variable-2 { color: #c30045; }
.cm-s-nqqwal span.cm-string { color: #7a0079; }
.cm-s-nqqwal span.cm-string-2 { color: #7a0079; }
.cm-s-nqqwal span.cm-number { color: #c30045; }
.cm-s-nqqwal span.cm-tag { color: #007972; }
.cm-s-nqqwal span.cm-property { color: #fe075d; }
.cm-s-nqqwal span.cm-attribute { color: #fe075d; }
.cm-s-nqqwal span.cm-qualifier { color: #a80032; }
.cm-s-nqqwal span.cm-meta { color: #c30045; }
.cm-s-nqqwal span.cm-header { color: #007972; }
.cm-s-nqqwal span.cm-operator { color: #007972; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(195,0,69,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #007972; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0E0B12); }
