/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #edeff8 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #13111C; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #13111C; background-color: rgba(58,116,255,0.4)}
.cm-s-nqqwal { background-color: #edeff8; color: #13111C; }
.cm-s-nqqwal span.cm-builtin { color: #000aba; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #545a80; }
.cm-s-nqqwal span.cm-keyword { color: #0046db; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #0020ff; }
.cm-s-nqqwal span.cm-def { color: #671aff; }
.cm-s-nqqwal span.cm-variable { color: #3a74ff; }
.cm-s-nqqwal span.cm-variable-2 { color: #671aff; }
.cm-s-nqqwal span.cm-string { color: #000aba; }
.cm-s-nqqwal span.cm-string-2 { color: #000aba; }
.cm-s-nqqwal span.cm-number { color: #671aff; }
.cm-s-nqqwal span.cm-tag { color: #0046db; }
.cm-s-nqqwal span.cm-property { color: #3a74ff; }
.cm-s-nqqwal span.cm-attribute { color: #3a74ff; }
.cm-s-nqqwal span.cm-qualifier { color: #0020ff; }
.cm-s-nqqwal span.cm-meta { color: #671aff; }
.cm-s-nqqwal span.cm-header { color: #0046db; }
.cm-s-nqqwal span.cm-operator { color: #0046db; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(103,26,255,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #0046db; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #edeff8); }
